<h1 md-display-3>Measures</h1>


<form id="form" name="form" ng-submit="measures(measure,form)">

    <label for="arm">Arm:</label>
    <input class="form-control" type="text" name="arm" id="arm" ng-model="measure.arm">
    <br />
    <label for="torso">Torso:</label>
    <input class="form-control" type="text" name="torso" id="torso" placeholder="Inserisci torso" ng-model="measure.torso">
    <br />
    <label for="bust">Bust:</label>
    <input class="form-control" type="text" name="bust" id="bust" placeholder="Inserisci busto" ng-model="measure.bust">
    <br />
    <label for="height">Height:</label>
    <input class="form-control" type="text" name="height" id="height" placeholder="Inserisci l'altezza" ng-model="measure.height">
    <br />
    <label for="neck">Neck:</label>
    <input class="form-control" type="text" name="neck" id="neck" placeholder="Inserisci collo" ng-model="measure.neck">
    <br />
    <label for="shoulders">Shoulders:</label>
    <input class="form-control" type="text" name="shoulders" id="shoulders" placeholder="Inserisci spalle" ng-model="measure.shoulders">
    <br />
    <label for="waist">waist:</label>
    <input class="form-control" type="text" name="waist" id="waist" placeholder="Inserisci waist" ng-model="measure.waist">
    <br />
    <label for="wrist">wrist:</label>
    <input class="form-control" type="text" name="wrist" id="wrist" placeholder="Inserisci wrist" ng-model="measure.wrist">
    <br />
    <label for="leg">leg:</label>
    <input class="form-control" type="text" name="leg" id="leg" placeholder="Inserisci leg" ng-model="measure.leg">
    <br />
    <label for="hip">hip:</label>
    <input class="form-control" type="text" name="hip" id="hip" placeholder="Inserisci hip" ng-model="measure.hip">
    <br />

    <input type="submit" value="Inserisci" class="pull-right btn btn-primary">

</form>







