
    


    <!-- TEMPORARY NAV-->
    <div ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab class="md-display-2" label="Login" ui-sref="user.login"> </md-tab>
                <md-tab class="md-display-2" label="Registration" ui-sref="user.register.registration"> </md-tab>
                <md-tab class="md-display-2" label="Measures" ui-sref="user.register.measures"> </md-tab>
                <md-tab class="md-display-2" label="Profile" ui-sref="user.profile"> </md-tab>
            </md-tabs>
        </md-content>
    </div>

<!--prova-->
    <!--    VIEW -->
    <div ui-view></div>


  